
.sliding-text-window {
    overflow: hidden;
    width: 75%;
    height: 75%; /* Adjust the height as needed */
  }
  
  .text-content {
    display: inline-block;
    white-space: nowrap;
    transition: transform 0.3s ease-out;
  }